.canvas {
}

#drawingCanvas {
    // position:absolute;
    border: none;
    color: #fff;
    overflow: hidden;
    // background-color: transparent;
    background-color:black;
}
#tempCanvas {
    position: absolute;
    width: 897px;
    height: 532px;
    overflow: hidden;
}

.noscript {
    padding: 50px 30px 0 40px;
    width: 820px;
}
#selector {
    //  position:absolute;
    z-index: 99999;
    margin-top: -30px;
}
select {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-color: #eaeaea;
}

#strokeWeight {
    background: darkgrey;
    width: 43px;
    height: 153px;
    position: absolute;
    top: 456px;
    left: -18px;
    z-index: 1;
    padding: 8px 0 0 7px;
}

.stroke {
    cursor: pointer;
    margin-bottom: 3px;
}
