.canvas {

    .drawing-info {

    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .drawing-canvas {
        border: none;
        color: #fff;
        overflow: hidden;
        background-color:black;
        width: 90%;
    }

    .toolbox {
        width: 5%;
        text-align: right;
        min-width: 50px;
    }

    .stroke-color {
        border: 1px solid darkgrey;
        padding: 5px;
        text-align: center;
        img {
            width: 32px;
            height: 32px;
        }
    }

    .stroke-weight {
        border: 1px solid darkgrey;
        padding: 5px;
        text-align: center;
        img {
            width: 32px;
            height: 32px;
        }
    }

    .operations {
        border: 1px solid darkgrey;
        padding: 5px;
        text-align: center;
        img {
            width: 32px;
            height: 32px;
        }
    }
}