#root {
  margin: 1em auto;
  width: $mobile-width;

  @include atMedium {
    width: $desktop-width;
  }

  .counter {
    margin: 1em auto;
  }

  .user {
    text-align: right;

    &__name {
      display: inline-block;
      border: 3px solid purple;
      font-weight: bold;
      padding: 6px;
    }
  }
}