#root {
  margin: 1em auto;
  width: $mobile-width;

  @include atMedium {
    width: $desktop-width;
  }

  .counter {
    margin: 1em auto;
  }

  .user {
    text-align: right;
    font-size: 1.25em;
  }
}