#root {
  margin: 1em auto;
  width: $mobile-width;

  @include atMedium {
    width: $desktop-width;
  }

  .counter {
    margin: 1em auto;
  }

  .user {
    text-align: right;
    font-size: 1.1em;

    &__name {
      display: inline-block;
      border: 3px yellow solid;
      padding: 6px;
    }
  }
}